
<div class="bg-dark">
  <h2  style="margin-left: 5px" class="text-white"> {{course.title}}
    <a style="margin-right: 5px" class='float-right left-align' [routerLink]="['/enroll', courseId]">Enroll!</a> </h2>
  <div class="row">

      <div class="col-md-4">
        <ul className="list-group list-group-flush">
          <li *ngFor="let module of course.modules"
              (click)="selectModule(module)"
              class="list-group-item">
              {{module.title}}
          </li>
        </ul>
      </div>


    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li *ngFor="let lesson of selectedModule.lessons"
            (click)="selectLesson(lesson)" class="list-group-item" >
            <!--[ngClass]="{'active' : selectedLesson.id === lesson.id}"-->

          {{lesson.title}}
        </li>
      </ul>
      <div>
        <ul class="list-group">
          <li *ngFor="let widget of widgets"
              class="list-group-item">
            {{write(widget.widgetType)}}
            {{listPieces(widget)}}
            <div [ngSwitch]="widget.widgetType">
              <div *ngSwitchCase="'HEADING'">

                <div [ngSwitch]="widget.size">
                  <div *ngSwitchCase="1">
                    <h1>{{widget.title}}</h1>
                  </div>
                  <div *ngSwitchCase="2">
                    <h2>{{widget.title}}</h2>
                  </div>
                  <div *ngSwitchCase="'3'">
                    <h3>{{widget.title}}</h3>
                  </div>
                  <div *ngSwitchCase="'4'">
                    <h4>{{widget.title}}</h4>
                  </div>
                  <div *ngSwitchCase="'5'">
                    <h5>{{widget.title}}</h5>
                  </div>
                  <div *ngSwitchCase="'6'">
                    <h6>{{widget.title}}</h6>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'PARAGRAPH'">
                {{widget.text}}
              </div>
              <div *ngSwitchCase="'LIST'">
                {{listPieces(widget)}}
                <div *ngIf="widget.ordered">
                    <ol>
                      <li *ngFor="let item of listP" >
                        {{item}}
                      </li>
                    </ol>
                </div>
                  <div *ngIf="!widget.ordered">
                      <ol>
                        {{write(widget)}}
                        <li *ngFor="let item of listP" >
                          {{item}}
                        </li>
                      </ol>
                  </div>
                </div>
              <div *ngSwitchCase="'LINK'">
                <a href={{widget.src}}>{{widget.text}}</a>
              </div>
              <div *ngSwitchCase="'IMAGE'">
                <img src={{widget.src}}>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
