<h2>
  Sections
</h2>
<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item bg-info">Courses</li>
      <li *ngFor="let course of courses"
          (click)="selectCourse(course)"
          [ngClass]="{'active' : selectedCourse.id === course.id}"
          class="list-group-item">
        {{course.title}} - {{course.id}}
      </li>
    </ul>
  </div>

  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item bg-info">
        Sections
        <button (click)="addSection(section)"
                class="btn btn-success btn-sm float-right">Add</button>
      </li>
      <li class="list-group-item">
        <input [(ngModel)]="section.title"
               class="form-control">
      </li>
      <li *ngFor="let section of sections" class="list-group-item">
        {{section.title}}
      </li>
    </ul>
  </div>
</div>

